*.class
*.log
*.bak

# fusesoc
build/

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bloop
.idea
out

# Metals
.metals
.bsp
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
/*.v*.bin
/vivado*
*.cf
*.vcd
*.swp
!tester/src/test/resources/*.vhd
examples/*/target
examples/*/*.v
__pycache__

simWorkspace/
/xsim.dir
tmp/
null
*.bin
*.out
