###########################################################
# Timing                                                  #
###########################################################

# 54 MHz clock input on board
FREQUENCY PORT "SYS_CLK" 54.0 MHz;

###########################################################
# Pins                                                    #
###########################################################

LOCATE COMP "SYS_CLK" SITE "AD32";
IOBUF PORT "SYS_CLK" IO_TYPE=LVCMOS25;

LOCATE COMP "CPU_RESET_N" SITE "AH30";
IOBUF PORT "CPU_RESET_N" IO_TYPE=LVCMOS25;

LOCATE COMP "LEDS[0]" SITE "AM28";
IOBUF PORT "LEDS[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[1]" SITE "AL28";
IOBUF PORT "LEDS[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[2]" SITE "AM29";
IOBUF PORT "LEDS[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[3]" SITE "AK28";
IOBUF PORT "LEDS[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[4]" SITE "AK32";
IOBUF PORT "LEDS[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[5]" SITE "AM30";
IOBUF PORT "LEDS[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[6]" SITE "AJ32";
IOBUF PORT "LEDS[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "LEDS[7]" SITE "AL30";
IOBUF PORT "LEDS[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "SWITCHES[0]" SITE "AK31";
IOBUF PORT "SWITCHES[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[1]" SITE "AM31";
IOBUF PORT "SWITCHES[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[2]" SITE "AJ31";
IOBUF PORT "SWITCHES[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[3]" SITE "AL32";
IOBUF PORT "SWITCHES[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[4]" SITE "AG28";
IOBUF PORT "SWITCHES[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[5]" SITE "AJ28";
IOBUF PORT "SWITCHES[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[6]" SITE "AG29";
IOBUF PORT "SWITCHES[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "SWITCHES[7]" SITE "AH28";
IOBUF PORT "SWITCHES[7]" IO_TYPE=LVCMOS25;
